:root {
  /* COLOR */
  --color-primary-white: #fff;
  --color-primary-back: #171717;
  --color-light-gray: #f7f7f7;
  --color-medium-gray: hwb(0 90% 10%);
  --color-dark-gray: #838383;
  --color-primary-green: #53d476;
  --color-secondary-green: #e7f9eb;
  --color-tertiary-green: #009026;
  --color-primary-blue: #6986ff;
  --color-secondary-blue: #e9eeff;
  --color-primary-red: #d45353;
  --color-secondary-red: #f9e7e7;
  --color-tertiary-red: #900000;
  --color-primary-yellow: #d4be53;
  --color-secondary-yellow: #f9f8e7;
  --color-tertiary-yellow: #908400;

  /* SPACING */
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 3rem;

  /* FONT SIZE */
  --font-size-small: 0.5rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;

  /* BORDER RADIUS */
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
}
