.add-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;

  top: 0;
  left: 0;

  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  min-width: 340px;
  margin: var(--spacing-medium);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  background-color: var(--color-light-gray);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.form__group input,
.form__group select {
  padding: var(--spacing-x-small);
}

.form__error-field {
  border: 2px solid var(--color-error);
  border-radius: var(--border-radius-small);
}

.form__input-error {
  display: none;
  color: var(--color-error);
}

.form__input-error--show {
  display: block;
}

.form__category {
  padding: var(--spacing-medium);
}

.form__error-message {
  display: none;
  color: var(--color-error);
  text-align: center;
}

.form__error-message--show {
  display: block;
}
