.add-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;

  top: 0;
  left: 0;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  min-width: 340px;
  margin: var(--spacing-medium);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  background-color: var(--color-light-gray);
}

.form__title {
  font-weight: 400;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.form__group input,
.form__group select {
  padding: var(--spacing-x-small);
}

.form__error-field {
  border: 2px solid var(--color-primary-red);
  border-radius: var(--border-radius-small);
}

.form__input-error {
  display: none;
  color: var(--color-primary-red);
}

.form__input-error--show {
  display: block;
}

.form__category {
  display: none;
  border: 0;
}

.form__fieldset {
  padding: var(--spacing-medium);
}

.form__category--show {
  display: block;
}

.form__category-title {
  font-size: 1.1rem;
  padding-top: var(--spacing-medium);
}

.form__error-message {
  display: none;
  color: var(--color-primary-red);
  text-align: center;
}

.form__error-message--show {
  display: block;
}

.form__buttons {
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
}

.form__submit-button {
  color: var(--color-primary-white);
  background-color: var(--color-primary-blue);
  transition: opacity 0.25s;
}

.form__submit-button:hover {
  opacity: 0.8;
}

.form__cancel-button {
  border: 1px solid var(--color-dark-gray);
  transition: background-color 0.25s;
}

.form__cancel-button:hover {
  background-color: var(--color-medium-gray);
}
