.error-modal {
  position: fixed;
  top: -100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.25s;
}

.error-modal--active {
  top: 0;
}

.error-modal__container {
  padding: var(--spacing-large) var(--spacing-large) var(--spacing-medium) var(--spacing-large);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  background-color: var(--color-primary-white);
  box-shadow: 0 0 6px var(--color-dark-gray);
}

.error-modal__message {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--color-primary-red);
}
