body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.site-header {
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-medium);
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  border-bottom: 2px solid lightgray;
}

.site-header__logo-container {
  border-right: 2px solid lightgray;
}

.site-header__logo {
  height: 48px;
}

.site-header__page-title-container {
  align-self: center;
  justify-self: center;
}

.site-header__notificaitons_profile-container {
  justify-self: end;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

.site-header__notification-button {
  padding: var(--spacing-x-small);
  border-radius: var(--border-radius-medium);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s;
}

.site-header__notification-button:hover {
  background-color: var(--color-medium-gray);
}

.site-header__notification-image {
  height: 24px;
}

.site-header__profile-button {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-medium);

  display: flex;
  align-items: center;
  gap: var(--spacing-x-small);

  transition: background-color 0.25s;
}

.site-header__profile-button:hover {
  background-color: var(--color-medium-gray);
}

.site-header__profile-image {
  height: 40px;
  border-radius: 50%;
}

.site-header__profile-title {
  font-weight: 500;
}

.site-main {
  max-width: 680px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.sortFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inventory {
  width: 100%;
}

.medicine-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.medicine {
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  display: flex;
  background-color: var(--color-light-gray);
}

.medicine__details {
  flex-basis: 80%;
}

.medicine__name {
  padding-bottom: var(--spacing-medium);
}

.medicine__detail-label {
  font-weight: 600;
}

.medicine__editDelete {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  align-items: flex-end;
}

.medicine__edit,
.medicine__delete {
  width: 50px;
  height: 50px;
  font-size: var(--font-size-large);
}

/* footer */
.site-footer {
  padding-top: var(--spacing-large);
  padding-bottom: 4rem;
}

/* add button */
.add-button-container {
  position: fixed;
  bottom: var(--spacing-large);
  right: var(--spacing-large);
}

.add-button {
  padding: var(--spacing-medium);
  font-size: var(--font-size-large);
}
